<form action="/dinosaurs" method="POST">
    
    <label for="dinosaurName">Name</label>
    <input type="text" id="dinosaurname" name="name">
    
    <label for="dinosaurType">Type</label>
    <input type="text" id="dinosaurType" name="type">
    
    

    <input type="submit">
</form>