<form action="/prehistoric-creatures" method="POST">
    
    <label for="creatureName">Name</label>
    <input type="text" id="creatureName" name="name">
    
    <label for="creatureType">Type</label>
    <input type="text" id="creatureType" name="type">
    
    

    <input type="submit">
</form>